@import url(https://fonts.googleapis.com/css?family=Raleway);

body
{
  color:#FFF;
  font-family:Raleway;
  font-size:1vw;
  margin:0;
  max-height:100vh;
  overflow:hidden;
  padding:0;
}

nav
{
  display:block;
  position:fixed;
  width:100%;
  z-index:1;
}

nav li
{
  color:#FFFFFF80;
  display:inline-block;
  font-weight:500;
  list-style:none;
  margin-right:2vw;
  
  text-transform:uppercase;
}

nav li:before
{
  border-bottom:.2vw solid #ffffff50;
  border-left:.2vw solid #FFF;
  content:"";
  display:block;
  height:.5vw!important;
  margin:1vw;
  position:absolute;
  transform:translate(-2vw);
  width:.5vw;
}
nav li:hover:before
{
   border-bottom:.2vw solid #fff;
}
nav li:hover
{
  color:#FFF;
  text-shadow:0 0 2px #00000075;
}

nav ul
{
  display:block;
  float:right;
  padding:1vw 5vw 0 0;
  position:relative;
}

.barcos
{
  display:block;
  position:relative;
  top:2vw;
  width:auto;
}

.barcos > div
{
  display:block;
  filter:saturate(0.3) blur(0.1px) contrast(1);
  position:relative;
}

#barco1 > div,#barco2 > div
{
  display:inline-block;
  height:12vw;
  position:relative;
  width:12vw;
}

#barco1 img,#barco2 img
{
  display:block;
}

#barco1 span,#barco2 span
{
  border-radius:100%;
  color:#FFF;
  display:block;
  font-family:Raleway;
  font-size:4.5vw;
  height:10vw;
  line-height:10vw;
  padding:0;
  position:absolute;
  text-align:center;
  width:10vw;
}

#barco1
{
  margin-left:18vw;
}

#barco1 .linea
{
  border-bottom:.3vw solid #fff;
  display:block;
  left:6.3vw;
  position:absolute;
  top:5vw;
width: 23.9vw;
  z-index: -1;
}

#barco1 span
{
  border:.3vw inset #fff;
  left:-4vw;
  top:-.2vw;
}

#barco2
{
  margin-left:35vw;
  margin-top:-7vh;
}

#barco2 .linea
{
	border-bottom: .3vw solid #fff;
	display: block;
	left: -7.7vw;
	position: absolute;
	top: 6vw;
	width: 17.9vw;
	z-index: -1;
}

#barco2 span
{
  border:.3vw outset #fff;
  left:10vw;
  top:.7vw;
}

.contenedor
{
  display:block;
  height:100vh;
  position:relative;
  top:5.5vw;
  width:100vw;
  z-index:1;
}

::-webkit-scrollbar
{
  width:3px;
}

::-webkit-scrollbar-thumb
{
  background:#fff !important;
}

.fondo
{
  background:url(../img/oceano.png) no-repeat center;
  background-size: 100% 100%;
  display:block;
  filter:blur(11px);
  height:115vh;
  left:-5vw;
  position:fixed;
  top:-5vw;
  width:115vw;
  z-index:-100;
}

.pregunta
{
  font-size:2vw;
  top:5vw;
}

.texto
{
  font-size:1.5vw;
}

.texto,.pregunta
{
  background:#00000036;
  color:#FFF;
  display:block;
  font-family:Raleway;
  margin:0 auto;
  padding:2vw 10vw;
  position:relative;
  text-align:center;
  text-shadow:0 0 2px #00000075;
  z-index:3;
}

.textoe
{
  background:#0275b0;
  display:block;
  float:left;
  font-size:1vw;
  height:82.5vh;
  line-height:1.2vw;
  overflow-x:hidden;
  overflow-y:auto;
  padding:2vw 4vw;
  position:relative;
  text-shadow:0 0 2px #00000075;
  width:45vw;
  z-index:3;
}

.videos h1
{
  background:#0275b0;
  margin:0 auto;
  padding:1vw;
  text-align:center;
  width:40vw;
}

.videos div
{
  display:inline-block;
  position:relative;
  top:3vw;
  width:49vw;
}

.videos iframe,.videos video
{
  display:block;
  height:20vw;
  margin:0 auto;
  width:35vw;
}

#iframe
{
  border:none;
  height:100vh;
  overflow:hidden;
  width:100vw;
}

.grafico
{
  width:100%;
}

.grafico img
{
  display:block;
  height:auto;
  margin:0 auto;
  padding-top:4vw;
  position:relative;
  width:20vw;
}

.grafico ul
{
  background:#00000036;
  color:#FFF;
  display:flow-root;
  font-size:1.2em;
  list-style:none;
  margin-top:2em;
  padding:2em 2em 2em 20vw;
  position:relative;
}

.grafico li
{
  padding-bottom:.2em;
}

.grafico li:before
{
  content:"•";
  display:inline-block;
  font-size:2em;
  margin-left:-1em;
  margin-top:-.25em;
  position:absolute;
  width:1em;
}

.grafico li:nth-child(1):before
{
  color:#f6ba01;
}

.grafico li:nth-child(2):before
{
  color:#56c04e;
}

.grafico li:nth-child(3):before
{
  color:#ff7500;
}

.grafico li:nth-child(4):before
{
  color:#f4396f;
}

.grafico li:nth-child(5):before
{
  color:#0275b0;
}

.grafico li:nth-child(6):before
{
  color:#88f6c2;
}

.grafico li:nth-child(7):before
{
  color:#74205d;
}

.grafico li:nth-child(8):before
{
  color:#474a9d;
}

.grafico li:nth-child(9):before
{
  color:#f2b89e;
}

.grafico li:nth-child(10):before
{
  color:#5fbb8e;
}

object
{
  width:30vw;
}

.contacto
{
  background:#00000036;
  margin:0 auto;
  max-width:40vw;
  padding:2.5vw;
  position:relative;
  width:100%;
}

h2,h4
{
  margin:0 0 .5vw;
}

fieldset
{
  border:none;
  margin:0;
  max-width:38.5vw;
  padding:.3vw 0;
}

.contacto input,.contacto textarea
{
  background:#FFF;
  border:1px solid #CCC;
  margin:0;
  max-width:38.5vw;
  min-width:38.5vw;
  padding:10px;
  width:38.5vw;
}

.contacto textarea
{
  height:10vw;
}

.contacto button[type="submit"]
{
  border:none;
  color:#FFF;
  cursor:pointer;
  display:block;
  font-size:1.2vw;
  margin:0 auto;
  padding:1vw;
  width:20vw;
  background-color: #0275b0;
}

.contacto input,.contacto textarea,.contacto button
{
  font-family:Raleway;
  font-size:.8vw;
}
.bitred1{
	background-color:#23000036;
}
.bitred2{
	background-color:#43000036;
}
.bitred3{
	background-color:#5f000036;
}
.bitred4{
	background-color:#95000036;
}
.bitred5{
	background-color:#ff000036;
}
.bitred6{
	background-color:#ff00006e;
}

table{
	top:0.2vw;
	position: relative;
	border-collapse: collapse;
	border-spacing: 0;
	margin:0 auto;
	font-size: 0.7vw;
}
table td{
	background-color: #00000036;
	border: 0.2vw solid #173146;
	padding: 0.3vw;
}
table th{
	text-transform: uppercase;
	font-size: 1vw;
}